@import "tailwindcss";

body {
  @apply text-white font-sans;
    background-color: #000;
    /* fallback for unsupported browsers */
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
}
